Source: elementary-os-prerelease
Section: gnome
Priority: optional
Maintainer: Sergey "Shnatsel" Davidoff <shnatsel@gmail.com>
Build-Depends: debhelper (>= 8.1.3~)
Standards-Version: 3.9.2

Package: elementary-os-prerelease
Architecture: all
Depends: ${misc:Depends}
Pre-Depends: dpkg (>= 1.15.6)
Recommends: apport-gtk, elementaryos-report-problem-dockitem
Replaces: elementarywalls (<< 0.1.4-0~26~), python-apport
Breaks: apport (<< 2.0), elementarywalls (<< 0.1.4-0~26~)
Description: elementary default settings
 This package contains items which should be present only in prerelease builds
 of elementary OS. It shows a disclaimer wallpaper, enables Apport and pulls in
 a dock launcher for reporting problems.
