Source: elementary-os-prerelease
Section: gnome
Priority: optional
Maintainer: Cody Garver <cody@elementary.io>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6

Package: elementary-os-prerelease
Architecture: all
Depends: ${misc:Depends}
Description: elementary default settings
 This package contains items which should be present only in prerelease builds
 of elementary OS.
