Source: elementary-os-prerelease
Section: gnome
Priority: optional
Maintainer: Sergey "Shnatsel" Davidoff <shnatsel@gmail.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.2

Package: elementary-os-prerelease
Architecture: all
Depends: ${misc:Depends}
Recommends: elementaryos-report-problem-dockitem, apport-gtk
Replaces: python-apport, elementarywalls (<< 0.1.4-0~26~)
Breaks: apport (<< 2.0), elementarywalls (<< 0.1.4-0~26~)
Description: elementary default settings
 This package contains items which should be present only in prerelease builds
 of elementary OS. It shows a disclaimer wallpaper, enables Apport and pulls in
 a dock launcher for reporting problems.